################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Project/DAL/Project.DAL/obj/Debug
/Project/.vs/Project/v15/Server/sqlite3
